<!DOCTYPE html>
<html>
<head>
    <title>Hi there</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/app.css" type="text/css">
    {{> scripts}}
</head>
<body>

<h1>{{title}}</h1>

<script type="text/javascript" src="/javascript/index.js"></script>
</body>
</html>
